[submodule "externals/buildsys/common"]
	path = externals/buildsys/common
	url = https://github.com/Melown/buildsys-common.git
[submodule "externals/buildsys/cmake"]
	path = externals/buildsys/cmake
	url = https://github.com/Melown/buildsys-cmake.git
[submodule "externals/half"]
	path = externals/half
	url = https://github.com/Melown/half.git
[submodule "externals/vts-libs"]
	path = externals/vts-libs
	url = https://github.com/Melown/vts-libs.git
[submodule "externals/gdal-drivers"]
	path = externals/gdal-drivers
	url = https://github.com/Melown/libgdal-drivers.git
