Source: ctt-vts-mapproxy
Section: non-free/citationtech
Priority: extra
Maintainer: Vaclav Blazek <vaclav.blazek@citationtech.net>
Build-Depends: debhelper (>= 7.0.50~), libboost-all-dev (>= 1.49)
               , libopencv2.4-dev (>= 2.4.3), libopencv-contrib-dev (>= 2.4.3)
               , libopencv-video-dev (>= 2.4.3), libopencv-legacy-dev (>= 2.4.3)
               , libopencv-nonfree-dev (>= 2.4.3), libopencv-objdetect-dev (>= 2.4.3)
               , libopencv-photo-dev (>= 2.4.3), libeigen3-dev (>= 3.1.0-1)
               , libopencv-gpu2.4 (>= 2.4.3), liblapack-dev (>= 3.4.1-6)
               , libblas-dev (>= 1.2.20110419-5), libcrypto++-dev (>= 5.6)
               , libgdal-dev (>= 2.0), libproj-dev (>= 4.9)
               , libmysql++-dev (>= 3.0.9-1+b1), libopenmesh-dev (>= 2.3.1-2)
               , libgeographiclib-dev (>= 1.21-1)
Standards-Version: 3.8.4
Homepage: https://www.melown.com/maps

Package: ctt-vts-mapproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ctt-vts-registry (>= 1.0)
         , ctt-vts-mapproxy-tools (= ${binary:Version})
Description: VTS MapProxy backend server
 Backend HTTP daemon.

Package: ctt-vts-mapproxy-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ctt-vts-registry (>= 1.0)
Breaks: ctt-vts-mapproxy (<< 0.42)
Replaces: ctt-vts-mapproxy (<< 0.42)
Description: VTS MapProxy backend server tools
 Contain colection of tools for mapproxy dataset preparation.

Package: ctt-vts-mapproxy-dbg
Architecture: any
Depends: ${misc:Depends}, ctt-vts-mapproxy (= ${binary:Version})
         , ctt-vts-mapproxy-tools (= ${binary:Version})
Description: Debug Symbols for ctt-vts-mapproxy*
