Source: vts-mapproxy
Section: misc
Priority: extra
Maintainer: Vaclav Blazek <vaclav.blazek@melown.com>
Build-Depends: debhelper (>= 9.20160115ubuntu3), libboost1.58-all-dev
               , libopencv-core-dev (>= 2.4.9)
               , libopencv-highgui-dev (>= 2.4.9)
               , libopencv-photo-dev (>= 2.4.9)
               , libopencv-imgproc-dev (>= 2.4.9)
               , libeigen3-dev (>= 3.1.0-1)
               , libgdal-dev (>= 2.1), libproj-dev (>= 4.9)
               , libopenmesh-dev (>= 6.3)
               , libgeographic-dev (>= 1.45-2)
               , libjsoncpp-dev (>= 1.7.2-1)
               , libprotobuf-dev (>= 2.6.1)
               , protobuf-compiler
               , libprocps4-dev (>= 3.3.10)
               , libmagic-dev (>= 5.25)
               , gawk
Standards-Version: 3.8.4
Homepage: https://www.github.com/Melown/

Package: vts-mapproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vts-registry (>= 1.0)
         , vts-mapproxy-tools (= ${binary:Version})
         , proj-data-vts
Description: VTS MapProxy backend server
 Backend HTTP daemon.

Package: vts-mapproxy-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, vts-registry (>= 1.0)
         , proj-data-vts
Breaks: vts-mapproxy (<< 0.42)
Replaces: vts-mapproxy (<< 0.42)
Description: VTS MapProxy backend server tools
 Contain collection of tools for mapproxy dataset preparation.

Package: vts-mapproxy-dbg
Architecture: any
Depends: ${misc:Depends}, vts-mapproxy (= ${binary:Version})
         , vts-mapproxy-tools (= ${binary:Version})
Description: Debug Symbols for vts-mapproxy*
