m4_dnl ###############################################################
m4_dnl ## Build dependencies
m4_dnl ###############################################################
m4_dnl
m4_define({{{VAR_BuildDepends}}},{{{debhelper (>= 7.0.50~), libboost-all-dev (>= 1.49)
    , libopencv2.4-dev (>= 2.4.3), libopencv-contrib-dev (>= 2.4.3)
    , libopencv-video-dev (>= 2.4.3), libopencv-legacy-dev (>= 2.4.3)
    , libopencv-nonfree-dev (>= 2.4.3), libopencv-objdetect-dev (>= 2.4.3)
    , libopencv-photo-dev (>= 2.4.3), libeigen3-dev (>= 3.1.0-1)
    , libopencv-gpu2.4 (>= 2.4.3), liblapack-dev (>= 3.4.1-6)
    , libblas-dev (>= 1.2.20110419-5), libcrypto++-dev (>= 5.6)
    , libgdal-dev (>= 2.0), libproj-dev (>= 4.9)
    , libmysql++-dev (>= 3.0.9-1+b1), libopenmesh-dev (>= 2.3.1-2)
    , libgeographiclib-dev (>= 1.21-1)}}})m4_dnl
m4_dnl
m4_dnl ###############################################################
m4_dnl ## this defines tail to be inserted at the end of control file
m4_dnl ###############################################################
m4_define({{{VAR_footer}}},
{{{
Package: ctt-vts-mapproxy
Architecture: any
Depends: vts-mapproxy
Description: VTS MapProxy backend server (transitional package)
 Package rename ctt-vts-mapproxy -> vts-mapproxy

Package: ctt-vts-mapproxy-tools
Architecture: any
Depends: vts-mapproxy-tools
Description: VTS MapProxy backend server (transitional package)
 Package rename ctt-vts-mapproxy-tools -> vts-mapproxy-tools

Package: ctt-vts-mapproxy-dbg
Architecture: any
Depends: vts-mapproxy-dbg
Description: VTS MapProxy backend server (transitional package)
 Package rename ctt-vts-mapproxy-dbg -> vts-mapproxy-dbg}}}
)m4_dnl
